name: ci

on:
  push:
    branches:
      - master 
      - main

permissions:
  contents: read  
  pages: write    
  id-token: write 

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }} 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install dependencies
        # run: pip install git+https://${MATERIAL_INSIDERS_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git@9.4.2-insiders-4.42.0 mkdocs-bibtex
        # env:
        #   MATERIAL_INSIDERS_TOKEN: ${{ secrets.MATERIAL_INSIDERS_TOKEN }}
        run: pip install mkdocs-material mkdocs-bibtex mkdocs-static-i18n mkdocs-glightbox mkdocs-puml mkdocs-pdf
      - run: mkdocs build                      
      - uses: actions/configure-pages@v5       
      - uses: actions/upload-pages-artifact@v3 
        with:
          path: 'site/'
      - uses: actions/deploy-pages@v4          
        id: deployment